 
$p_c: #925ff1;
$s_c: #7343ce;



@media (min-width: 1200px){
  .container {
    max-width: 1180px;
  }
}


@mixin fl_bt_c() {  
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

body{
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  color: rgb( 48, 48, 48 );
}
a:hover{
  color: rgb( 48, 48, 48 );
}
.product-item{ 
 
  height: 400px;
  width: 25%;
  padding-bottom: 30px;

  border-bottom: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3;
  
  position: relative;

  &_content{
     padding-top: 30px;
    box-sizing: border-box;
    padding: 10px;
    position: relative;

    background-color: #fff;
  }
  &:hover &_content{
   z-index: 1000;
   box-shadow: 0px 3px 19px 0px rgba( 0, 0, 0, .1 );
 }

h3{
  margin-bottom: 0px;
}
 &_img{
  text-align: center;
  margin-bottom: 25px;
  height: 220px;
  overflow: hidden;
  position: relative;
}
 &_img img{
    height: 100%;
    width: auto;
 }  

&_star-rating{

}
&_credit-count-text{

 font-size: 10px;
 color: white;
 line-height: 1.4;
 margin-bottom: 5px;
 font-weight: 300;
}
&_credit-count{
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: rgb( 27, 189, 46 );
  width: 65px;
  height: 65px;
  border-radius: 50%;
  text-align: center;
  line-height: 1;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
&_credit-count-num{
  font-size: 27px; 
  color: rgb( 255, 255, 255 );
  font-weight: bold;
  
}
&_title{
  font-size: 15px;
  color: rgb( 48, 48, 48 );
  margin: 10px 0 30px 0;
  min-height: 30px;
}
&_price{
  font-size: 18px;
  color: rgb( 48, 48, 48 );
  font-weight: bold;

}

&_star-rating .oi{
  color: #c2c2c2;
}
&_star__active.oi{
  color: #ffc000;
} 
.oi{
  font-size: 11px;
}
&_credit-type, &_hit-sell, &_new-product{
  font-size: 13px; 
  color: rgb( 255, 255, 255 );
  background-color: rgb( 27, 189, 46 );
  position: absolute;
  left: 0;
  top: 150px;
  z-index: 11;
  padding: 7px 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  min-width: 90px;
  text-align: center;
}
&_hit-sell{
  background-color: rgb( 249, 113, 30 );
  top: 10px;
}
&_new-product{
 background-color: rgb( 43, 119, 245 );
 top: 53px;
} 
&_fast-view{
  display: none;
  font-size: 14px; 
  color: rgb( 255, 255, 255 );
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  background-color: rgba( 14, 14, 14 , .8);
  text-align: center;
  padding: 10px 0;
  z-index: 12;
  border-radius: 4px;
}
&:hover &_fast-view{
  display: block;
}

&_more{
  display: none;
  text-align: center;
  .product__button-buy { 
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  h5{
    text-align: left;
    font-size: 14px; 
    color: rgb( 128, 128, 128 ); 
  }
}
&:hover &_more{
  display: block;
}
}
.product__button-buy { 
  border: none;
  color: white;
  border-radius: 4px;
  padding: 5px 0;
  text-align: center;
  font-size: 21px;
  font-weight: 500; 
  cursor: pointer;
  background-image:  linear-gradient( -90deg, rgb(17,170,35) 0%, rgb(52,191,4) 100%);
}

.product__button-buy_main:hover {
  background-image:  linear-gradient( 90deg, rgb(17,170,35) 0%, rgb(52,191,4) 100%);
}
.a_credit {
  font-size: 14px; 
  color: rgb( 115, 67, 206 );
  font-weight: bold;
  text-decoration: underline; 
}
.a_credit:hover {
  color: rgb( 115, 67, 206 );
  text-decoration: none; 
}


 //===================================================================
 .product__filter{
  display: flex;
  justify-content: flex-start;
  height: 36px;
  margin-bottom: 29px;

  label{
    display: block;
    height: 100%;
    width: 54px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    cursor: pointer;

    font-size: 13px;
    font-weight: 100;
    color: #303030;
    text-align: center;
    padding: 8px 0;
    margin-right: 16px;
  }

  input[type="radio"]{
    display: none;
  }

  input[type="radio"]:checked + label, label:hover{
    border: 1px solid #9773da;
  }
}
.product__filter_color{
  margin-bottom: 23px;

  label{
    border: 1px solid #b9b9b9;
    padding: 5px 7px;

    div{
      display: block;
      height: 100%;
      width: 100%;
    }

    .black-back{
      background: #000000;
    }
    .purple-back{
      background: #ff99ff;
    }
    .yellow-back{
      background: #ffcb99;
    }
    .grey-back{
      background: #666666;
    }
    .blue-back{
      background: #3333ff;
    }

  }
}


 //============================================================

 .tab-cont{ 
  @include fl_bt_c(); 
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
 
}
.nav.nav-tabs{
  width: 100%;
  border-bottom: 2px solid $p_c;
  .nav-link{
    background-color: #fff ;
    color: $p_c;
    border: none;
    border-radius: 0;
    padding: 7px 30px;
  }
  .nav-link.active.show{
    background-color: $p_c;
    color: #fff;
  }
  .nav-item{
    margin-right: 20px;
    border: 2px solid $p_c;
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: 0px;
  }
}
.tab-content{
  padding-top: 50px;
}

.multi-level li.dropdown-submenu {
  padding: 9.4px;
  border-bottom: 1px solid #e8e8e8;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-menu.show {
  display: block;
}

.multi-level {
  top: 67px;
  width: 100%;
  padding: 0 3px 0px 30px;
  border-radius: 0px;
}

.header .le-button {
  background: #7343ce;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.dropdown-submenu>.dropdown-menu {
  top: 5px;
  left: 103%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0;
}
.multi-level .dropdown-submenu a {
  color: #303030;
  font-size: 15px;
}
.header .le-button a {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
} 
.search {
  background: none;
  position: relative;
  width: calc(100% - 530px);
  .ok-glass{
    background-image: url(../img/icon_search.png);
    display: inline-block;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
  input,   button {
    outline: none;
    background: transparent;
    border: none;
  }
  input {
    width: 100%;
    height: 50px;
    padding-left: 15px;
    border-radius: 5px;
    background: #fff;
  }
  button {
   border: none;
   height: 100%;
   width: 42px;
   position: absolute;
   top: 0;
   right: 20px;
   cursor: pointer;
   line-height: 0px;
 } 
} 

.header {
  background: #925ff1;
  height: 70px;
}
.navbar{
 padding: 12px 0;
}
.navbar-nav a { 
  font-weight: bold;
  font-size: 15px;
  color: rgb( 48, 48, 48 );
}
nav .phone a { 
  font-weight: bold;
  font-size: 18px;
  color: #000;
}
nav .oi-phone {
  color: #895cdc;
}

nav .lang a {
  float: left;
  font-size: 13px; 

  font-weight: bold;
line-height: 1.808;
  padding: 0 ;
  height: 24px;
  width: 24px;
  margin-right: 5px;
  background-color: #fff;
  color: rgb( 194, 194, 194 );

  border-style: solid;
  border-width: 1px;
  border-color: rgb( 222, 227, 235 );
  border-radius: 6px;
  background-image: -moz-linear-gradient( 90deg, rgb(248,249,252) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(248,249,252) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(248,249,252) 0%, rgb(255,255,255) 100%);
}
nav .lang a.active {
  background: #895cdc;
  color: #fff;

  border-style: solid;
  border-width: 1px;
  border-color: rgb( 109, 64, 194 );
  border-radius: 6px;
  background-image: -moz-linear-gradient( 90deg, rgb(114,66,205) 0%, rgb(140,95,222) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(114,66,205) 0%, rgb(140,95,222) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(114,66,205) 0%, rgb(140,95,222) 100%);
  box-shadow: 0px 3px 6px 0px rgba( 0, 0, 0, .2 );
}


//===============================================
//top nav element
.user-activeted{
  width: 210px; 
  @include fl_bt_c();
  text-align: center; 

  &_item{
    display: block;
    height: 100%;
    width: 33%;
    height: 70px;
    line-height: 70px;
  } 
  &_item:hover{
    background-color: $s_c;
    color: #fff;
  }   
  .oi {
    color: #7343ce;

  }
  &_item:hover .oi {
    color: #fff; 
  }

  &_countMiniCart {
   width: 17px;
   height: 18px;
   position: absolute;
   border-radius: 50%;
   background: $s_c;
   color: #fff;
   text-align: center;
   font-size: 11px;
   padding: 2px;
   line-height: 1.4;
   top: 50%;
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
   right: 5px;
 }
 &_item:hover &_countMiniCart  {
   background: $p_c;
 }
 &_miniCart{
  position: relative;
}
}


.ok_menu{
  width: 270px;
}
.header .container{
 @include fl_bt_c(); 
}

.ok-phone{
  position: absolute;
  left: -12px;
  top: 9px; 
  transform: translateY(-50%);
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url(../img/icon_phone.png);
  background-repeat: no-repeat;
  background-position: center;
}

.top_phone_wrapp {
  position: relative;
  height: 20px;
  z-index: 99999;
  padding: 0 10px;
  box-sizing: content-box;
}
.top_phone {
  line-height: 1; 
  text-align: right;
  position: relative; 
  min-width: 170px;
  background: rgba(255,255,255, 0.8);
}
.phone_item {
  display: inline-block;
}
.top_tel {
  font-size: 18px; 
  color: rgb( 22, 22, 22 ); 
  font-weight: 700;
  text-decoration: none;
}
.more_phone {
  display: inline-block;
  width: 10px;
  height: 10px;  
  vertical-align: middle; 
  cursor: pointer;
  background-image: url('../img/icon_phone_array.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -3px;
}
.phone_item:first-of-type ~ .phone_item {
  display: none;
}
.top_phone.active .phone_item:first-of-type ~ .phone_item {
  display: inline-block;
  padding-right: 15px;
  margin-top: 10px;
}

.sales.container{
  margin-top: 75px;
  margin-bottom: 75px;
  .tab-content{
    padding-top: 10px;
  }
}
.sales.container{
  margin-top: 50px;
  margin-bottom: 0px;
}
.sales_slide_container {
  margin-top: 50px;
  margin-bottom: 0px;
}
.pros {
  margin-bottom: 50px;
}
.pros img {
  float: left;
  margin: 10px 25px 4px 0;
}
.pros h3 {
  font-size: 16px;
  color: #7343ce;
  font-weight: 700;
  margin-bottom: 4px;
}
.pros p {
  color: #989898;
  font-size: 12px;
}

//=============================
.ok_title{
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 36px; 
  color: rgb( 48, 48, 48 );
  width: 100%;
} 
.news-list{
  @include fl_bt_c();
}
.news-item{
 width: 33%; 
 p{
  font-size: 15px; 
  color: rgb( 133, 133, 133 );
}  
&__img{
  overflow: hidden;
  img{
    width: 100%;
    height: auto; 
  }
}
&__title{
  margin-top: 12px;
  margin-bottom: 7px;
  display: inline-block;
  font-size: 16px;
  font-weight: 600; 
  color: rgb( 48, 48, 48 );
} 
}
.seo-text{
 &__hided{
  height: 0;
  font-size: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
&__hided_active{
 height: auto;
 font-size: 16px;
}
&__button{
  color: $p_c;
  text-decoration: underline;
}
&__button:hover{ 
  color: $p_c;
  text-decoration: none;
}
}
  .product__general-content{
    height: 430px;
    display: flex;
    justify-content: space-between; 
  }
/*__________________________Product general___________________________*/
.rating-wrapper{
  $yellow: #fc0;
  $yellow-bright: #fd0;
  $grey-light: #ccc;
  $grey: #bbb;

  .rating {
    float:left;
    border: 0;
  }

  .rating label {
    width: 1em;
  }

  .rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
  }

  .rating:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    line-height:1.2;
  }

  .icon-star {
    width: 1em;
    height: 1em;
    fill: $grey-light; // #ccc;
    transition: all .3s;
  }

  .rating > input:checked ~ label .icon-star {
    fill: $yellow; // #fc0;
  }

  .rating:not(:checked) > label:hover .icon-star ,
  .rating:not(:checked) > label:hover ~ label .icon-star  {
    fill: $grey //#bbb;
  }

  .rating > input:checked + label:hover .icon-star,
  .rating > input:checked + label:hover ~ label .icon-star,
  .rating > input:checked ~ label:hover .icon-star,
  .rating > input:checked ~ label:hover ~ label .icon-star,
  .rating > label:hover ~ input:checked ~ label .icon-star {
    fill: $yellow-bright; // #fd0;
  }

  .rating > label:active {
    position:relative;
    top: 1px;
    left: 1px;
  }
}
.product__pre-buy{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;
      width: 315px;

      p, a{
        line-height: 1;
      }
    }

/*________________________Tovar-card_____________________________*/
.product__rating-image{
  margin-bottom: 17px;
  width: 78px;

  img{
    margin-top: -15px;
  }
}
.product__reviews{
  height: 12px;
  margin: 0 150px 17px 27px;
  color: #7444ce;
  font-size: 12px;
}
.product__in, .product__compare{
  height: 20px;
  width: 50%;
  margin-bottom: 25px;
  color: #1db119;
  font-size: 14px;
  font-weight: 300;
}
.product__compare{
  position: relative;
  text-align: right;
  color: #89878d;
}

.product__price-block, .product__button-buy{

  width: 50%;
  margin-bottom: 10px;
}
.product__price{
  font-size: 16px;
  font-weight: 300;
  color: #1e1e1e;

  span{
    font-size: 24px;
    font-weight: bold;
  }
}
.product__price_old{
  font-size: 12px;
  text-decoration: line-through;
  margin-bottom: 5px;

  span{
    font-size: 16px;
  }
}
.product__price_new{
  color: #1bbd2e;
}
.product__price_credit, .product__button-buy_credit{

  width: 50%;
  margin-bottom: 18px;
}

.product__button-buy_credit{
  background: white;
  color: #89878d;
  font-size: 15px;
  font-weight: normal;
  padding: 0;
  height: auto;
  border-radius: 3px;
  /*background-color: rgb( 244, 238, 253 );
  padding: 4px 0;*/
}

.product__filter-heading{
  height: 15px;
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  color: #1e1e1e;
  margin-bottom: 15px;
}
.product__filter{
  display: flex;
  justify-content: flex-start;
  height: 36px;
  margin-bottom: 29px;

  label{
    display: block;
    height: 100%;
    width: 54px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    cursor: pointer;

    font-size: 13px;
    font-weight: 100;
    color: #303030;
    text-align: center;
    padding: 8px 0;
    margin-right: 16px;
  }

  input[type="radio"]{
    display: none;
  }

  input[type="radio"]:checked + label, label:hover{
    border: 1px solid #9773da;
  }
}
.product__filter_color{
  margin-bottom: 23px;

  label{
    border: 1px solid #b9b9b9;
    padding: 5px 7px;
    margin-right: 8px;

    div{
      display: block;
      height: 100%;
      width: 100%;
    }

    .black-back{
      background: #000000;
    }
    .purple-back{
      background: #ff99ff;
    }
    .yellow-back{
      background: #ffcb99;
    }
    .grey-back{
      background: #666666;
    }
    .blue-back{
      background: #3333ff;
    }

  }
}

.product__order{
  position: relative;
  font-size: 18px;
  height: 22px;
  width: 100%;
  padding-left: 37px;
  margin-bottom: 12px;
}
.product__order:before{
  content: url("../img/order-icon.png");
  display: block;
  position: absolute;
  left: 0;
}
.product__client-phone{
  height: 45px;
  width: calc(100% - 107px);
  border: 1px solid #e6e6e6;
  border-radius: 5px 0 0 5px;
  color: #303030;
  font-weight: 300;
  text-align: center;
}
.product__button-buy_order{

  width: 107px;
  border-radius: 0 5px 5px 0;
  background: #6d40c2;
  padding: 10px 0;
  font-size: 16px;
  font-weight: normal;
}
/*________________________Tovar-card-end____________________________*/

.product__image{
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      height: 430px;
      width: 470px;
      border: 1px solid #e7eaee;

      .product__stock{
        display: block;
        position: absolute;
        height: 30px;
        width: 85px;
        border-radius: 3px;
        background: #1bbd2e;
        left:0;
        bottom: 20%;
        padding: 5px 10px;

        font-size: 13px;
        font-weight: normal;
        color: white;
      }
    }
p, a{
  margin-bottom: 0;
}
#product{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1170px;
  margin: 30px auto;
}

.product__content{
   display: block;
   width: calc(100% - 360px);
 }
 .product__content.product__content_secondary{
    display: block;
   width: 100% ;
   .tab-content{
    padding-top: 0;
   }
 }
 #product__content_main{
  width: 100%;

  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1170px;
    
 }
.product__block_technical{
   

  .product__characteristic{
    width: 100%;
    line-height: 1;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 30px;

    .product__characteristic-name{
      display: inline-block;
      width: 370px;
    }
  }
}
.product__sidebar{
  display: block;
  height: 530px;
  width: 300px;
  padding: 0 10px;
  float: right;
  background: #f6f6f6;

  p,a{
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 300;
    line-height: 21px;
  }
  .product__sidebar-element{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 22px 0 22px 73px;
  }

  .product__sidebar-heading{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 20px 0 5px;

    span{
      color: #7343ce;
    }
  }


  .product__sidebar-element_garant{
    border-top: 1px solid #d5cee2;
    border-bottom: 1px solid #d5cee2;
  }


  .product__sidebar-element:before{
    position: absolute;
    left: 3px;
  }
  .product__sidebar-element_delivery:before{
    content: url("../img/delivery-truck.png");
  }
  .product__sidebar-element_garant:before{
    content: url("../img/shield.png");
  }
  .product__sidebar-element_puy:before{
    content: url("../img/credit-card.png");
  }

  .product__sidebar-subheading{
    font-size: 13px;
    font-weight: 600;
  }
  .product__sidebar-subheading_middle{
    margin-top: 15px;
  }
  .product__sidebar-description_middle{
    margin-bottom: 15px;
  }

}
.primery_list_slider{
  width: 100%;
}


.product__bottom-block{
  width: 100%;
  background-color: red;

/*   .product__reviews-block{
  padding: 40px 0;
  .review{
    border-bottom: 1px solid #ededed;
    padding: 30px 0;
    .review__heading-block{
      display: flex;
      justify-content: space-between;
      margin-bottom: 23px;

      .review__heading{
        font-size: 16px;
        font-weight: bold;
      }

      .review__date{
        font-size: 14px;
        font-weight: 300;
        color: #b7b7b7;
      }
    }
    .review__rating{
      margin-bottom: 18px;
    }
    .review__body{
      font-size: 16px;
      font-weight: 300;
    }
  }
  .product__nav-wrapper{
    display:flex;
    justify-content: center;

    .product__page-nav{
      display: flex;
      justify-content: space-between;
      height: 30px;
      width: 110px;
      margin: 0 53px;

      .product__nav-button{
        height: 27px;
        width: 27px;
        text-align: center;
        border: 1px solid #dee3eb;
        border-radius: 2px;
        color: #3c236b;
      }

      .product__nav-button:hover{
        background: #7444ce;
          color: white;
      }
    }
  }
} */
}

.product__block-heading{
    width: 100%;
    line-height: 1;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 40px  0;
  }
.product__block_reviews-add{
  max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    .product__block-heading_review{
      margin-bottom: 30px;
    }

    .product__rating{
      width: 100%;
      margin: 0 30px 15px 0;
    }

    label{
      width: 150px;
    }
    .product__reviews-header, .product__reviews-body{
      position: relative;
      height: 30px;
      width: calc(100% - 150px);
      margin-bottom:20px;
      border: 1px solid #e8e8e8;
    }

    .product__reviews-body{
      resize: none;
      height: 140px;
    }
    .product__button-buy_review{
      height: 45px;
      width: 170px;
      margin-left: auto;
      background-color: #7e4fd5;
      font-size: 15px;
      font-weight: normal;
      padding: 10px 0;
    }
  }
 .product__reviews-block{
  padding: 40px 0;
  .review{
    border-bottom: 1px solid #ededed;
    padding: 30px 0;
    .review__heading-block{
      display: flex;
      justify-content: space-between;
      margin-bottom: 23px;

      .review__heading{
        font-size: 16px;
        font-weight: bold;
      }

      .review__date{
        font-size: 14px;
        font-weight: 300;
        color: #b7b7b7;
      }
    }
    .review__rating{
      margin-bottom: 18px;
      height: 24px;
    }
    .review__body{
      font-size: 16px;
      font-weight: 300;
    }
  }
  .product__nav-wrapper{
    display:flex;
    justify-content: center;
    margin: 43px 0 70px;
  }
  .product__page-nav{
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 110px;
    margin: 0 53px;
  }

  .product__nav-button{
    height: 27px;
    width: 27px;
    text-align: center;
    border: 1px solid #dee3eb;
    border-radius: 2px;
    color: #3c236b;
    cursor: pointer;
  }

  .product__nav-button:hover{
    background: #7444ce;
    color: white;
  }

  .product__next{
    font-weight: 300;
    font-size: 16px;
  }
  .product__prev{
    font-weight: 300;
    font-size: 16px;
    color: #acacac;
  }
} 
/*________________________Tovar-popup____________________________*/
.product__content_popup{
  display: block;
  width: 100%;

  h2{
    margin-bottom: 35px;
  }

  h4{
    margin-bottom: 25px;
  }

  .product__filter_color{
    height: 55px;

    label{
      padding: 13px;
      border-radius: 5px;
    }
  }
}

.product__code_popup{
  margin: 55px 0 60px;
}

.product__price_popup{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}


/*__________________________Basket__________________________*/
.basket{
  max-width: 1170px;
  margin: 100px auto;

  p{
    margin-bottom: 0;
  }

  .basket__heading{
    font-weight: 600;
    font-size: 33px;
  }
  .basket__pre-production{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    margin-top: 30px;

    .basket__product{
      margin-left: 90px;
      width: 50%;
    }

    .basket__count{
      width: 120px;
    }

    .basket__price{
      margin-left: 30px;
    }
  }
  .product{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;

    .product__icon{
      display: flex;
      justify-content: center;
      width: 90px;
    }
.product__icon{
  img{
    height: 100%;
    width: auto;
  }
}
    .product__heading{
      width: 50%;
      position: relative;

      .product__code{
        position: absolute;
        top: -20px;
        color: #898989;
      }
    }
.btn[value="cart/remove"]{
  background-color: transparent;
  border: none;
  box-shadow: none;
 }
 .btn[value="cart/remove"]:hover{ 
  transform: scale(1.4);
 }
    .product__counter{
      display: flex;
      justify-content: space-between;
      align-content: center;
      width: 120px;

      input{
        width: 35px;
        height: 35px;
        text-align: center;
        border: 1px solid #dee3eb;
        border-radius: 2px;
        font-weight: 100;
        color: #303030;
        background: #fafbfd;
      }
    }

    .product__price{
      width: 23%;
      margin-left: 30px;

      span{
        font-size: 21px;
        font-weight: bold;
      }
    }

    .product__delete{
      display: flex;
      justify-content: center;
      align-content: center;
      width: 70px;
    }
  }
  .basket__under-production{
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 45px;
    margin-top: 20px;

    .basket__general-price{
      align-self: center;

      span{
        font-weight: bold;
        font-size: 21px;
        margin-left: 10px;
      }
    }

    .basket__button{
      text-align: center;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 44px;
    }

    .basket__button_continues{
      margin: 0 25px 0 auto;
      border: 1px solid #cfcfcf;
      background: rgba(0,0,0,0);
      color: #0b0b0b;
      width: 235px;
    }

    .basket__button_buy{
      background: #7343ce;
      border: 1px solid #6d40c2;
      color: #ffffff;
      width: 170px;
    }
  }
}
.basket_pop{
  background-color: white;
  max-width: 830px;
  margin: 100px auto;
  padding: 30px;

  .basket__heading_popup{
    text-align: center;
    line-height: 1;
    margin: 20px 0 40px;
  }

  .product{
    height: 95px;
    .product__icon_popup{
      justify-content: flex-start;
      width: 70px;
      padding-left: 14px;
    }
    .product__counter input{
      background: #fafbfd;
    }
    .product__price_popup{
      max-width: 110px;
      margin-left: 40px;

      span{
        font-size: 21px;
        font-weight: bold;
      }

      .product__delete_popup{
        width: 40px;
      }
    }
  }
}
  .basket  .product:last-of-type{
  border-bottom: 1px solid #e6e6e6!important;
}
.ms2_form.msoptionsprice-product{
  width: 100%;
}

/*____________________________LK____________________________*/
#cabinet{
  max-width: 1170px;
  height: 586px;
  margin: 100px auto;
  border: 1px solid purple;

  p{
    color: #303030;
    margin: 0;
    line-height: 1;
  }

  .cabinet__menu{
    max-width: 264px;
    margin: 22px 0 33px;

    .cabinet__menu-elem{
      padding: 15px 17px;
      border: 1px solid #e8e8e8;
      font-size: 16px;

    }
  }
  .cabinet__block-inform{
    .cabinet__welcome{
      font-size: 17px;
      span{
        font-weight: 600;
      }
    }
    p{
      font-size: 14px;
      font-weight: 100;
    }


  }
}

/*__________________________Footer_________________________*/

#footer-wrapper{
  margin-top: 20px;
  background-color: #f9f9f9;
  background-image: url('../img/footer-bg.png');
  background-repeat: no-repeat;
  background-position: 200px bottom;
  padding-top: 50px;
  padding-bottom: 20px;
  .footer{
    display: flex;
    justify-content: space-around;
    max-width: 1170px;
    margin: 0 auto;

    a,p{
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 14px;
      color: #303030;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
    }

    .copyrate{
      margin-top: 50px;
      font-size: 12px;
      color: rgb( 194, 194, 194 );
      a{
        font-size: 12px;
        color: rgb( 194, 194, 194 );
      }

    }

  }

  .graph{
    position: relative;
    width: 270px;
    margin-top: 40px;

    .graph__heading{
      font-weight: 700;
    }

    p{
      display: block;
      margin-bottom: 5px;
    }
  }

  .graph:before{
    content: "© Интернет-магазин «MOZO ™» 2001–2018";
    display: block;
    position: absolute;
    top: -40px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #303030;
  }

  .menu{
    display: flex;
    flex-direction: column;
    width: 170px;

    a{
      margin-bottom: 5px;
    }

    a:hover{
      text-decoration: none;
      color: #925ff1;
    }
  }

  .inform-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 200px;

    &__pay{
      display: flex;
      justify-content: center;
      border: 1px solid #bdb6b4;
      border-radius: 2px;
      width: 90px;
      height: 40px;
      margin: 14px 0 18px;

      img{
        align-self: center;
      }
    }

    p{
      display: inline;
      height: 21px;
      width: 100%;
      font-weight: 600;
    }

    .social-block{

      width: 100%;
      margin-top: 15px;

      svg{
        color: #c2c2c2;
        font-size: 20px;
        margin-right: 20px;
        cursor: pointer;
      }

      svg:hover{
        color: #925ff1;
      }
    }
  }

  .subscribe{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;

    width: 300px;

    .subscribe__heading{
      width: 100%;
      height: 30px;
      margin-bottom: 15px;

      font-size: 12px;
    }

    .subscribe__mail{
      border: 1px solid #cfcfcf;
      border-radius: 5px;
      color: #e3dcf5;
      width: 165px;
      height: 33px;
      padding: 5px 10px;
      margin-right: 10px;
    }
    .subscribe__button{
      background: #7343ce;
      border: 1px solid #6d40c2;
      border-radius: 5px;
      color: #e3dcf5;
      width: 100px;
      height: 33px;
      padding: 5px 10px;
      font-size: 13px;
      font-weight: 300;
      text-align: center;
      cursor: pointer;
    }
  } 
}


.carousel_wrapp{
  padding: 0;
  overflow: hidden;
  height: 350px;
}
.carousel_wrapp img{
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  left: 0;
}
.carousel-indicators {
  margin-left: 0;
  margin-right: 25%;
  bottom: 0;
}

.carousel-indicators li {
  height: 20px;
  width: 20px;
}
.btn{
  background-color: $p_c;
  border-style: solid;
  border-width: 1px;
  border-color: rgb( 109, 64, 194 );
  border-radius: 3px;
  background-image: -moz-linear-gradient( 90deg, rgb(114,66,205) 0%, rgb(140,95,222) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(114,66,205) 0%, rgb(140,95,222) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(114,66,205) 0%, rgb(140,95,222) 100%);
  box-shadow: 0px 3px 6px 0px rgba( 0, 0, 0, .3 );

  font-size: 18px;
  font-family: "Montserrat";
  color: rgb( 255, 255, 255 );
  font-weight: bold;
}


.carousel-item{ 
  font-family: "Montserrat";
  padding: 70px 0 70px 0;
  background-size: cover;
  h3, .price{
   font-size: 38px; 
   color: rgb( 115, 67, 206 );
   font-weight: bold;
   text-transform: uppercase;
 } 
 p, .ot{
   font-size: 20px; 
   color: rgb( 20, 20, 20 );
 } 
 .currency{
  font-size: 22px; 
  color: rgb( 115, 67, 206 );
  font-weight: bold; 
}
.btn{
  margin-top: 25px;
}
} 
.ok_arrow_bottom{
  background-image: url('../img/white_arrow.png');
  display: inline-block;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.breadcrumbs{ 
  padding: 30px 0;
  ul{
    padding-left: 15px;
  }
  li{
    display: inline-block;
    margin-right: 20px;
  }
  font-size: 14px; 
  color: rgb( 48, 48, 48 ); 
  a{
    font-size: 14px; 
    color: rgb( 48, 48, 48 );
    position: relative; 
  }
  a:after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 9px;
    right: -15px;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top-color: #cbcbcb; 
    vertical-align: middle;
    border-bottom: 0;  
    transform: rotate(-90deg);
  }
}

.catalog_title{
 @include fl_bt_c();
 padding-bottom: 20px;
 .ok_title{
  margin: 0;
  width: auto;
}
.sort{
  @include fl_bt_c();
  select{
    margin-left: 20px;
    width: 250px;
  }
}
}
#catalog{
 @include fl_bt_c(); 
 -webkit-align-items: flex-start;
 -ms-flex-align: start;
 align-items: flex-start;
}
#primery{ 
  width: calc(100% - 255px); 
  
}
.primery_list{
  @include fl_bt_c();
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;  
  border-left: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  box-sizing: border-box;
  padding: 0px 0px;
}

#secondary{
  width: 220px;
  
}
.mse2_number_inputs{
  @include fl_bt_c(); 
  margin-top: 30px;
  
}
.msearch2{
  .form-group{
    display: block;
    font-size: 0;
    padding: 0;
    margin: 0;
    width: 43%;
    flex: 0 0 43%;
  }
  .form-group:first-of-type:after{
    display: block;
    content: '';
    height: 1px;
    width: 25px;
    background-color: #333;
    position: absolute;
    right: -29px;
    top: 42%;
    transform: translateY(-50%);
  }
}

.input-sm {
  font-size: 13px; 
  color: rgb( 0, 0, 0 ); 
}
.form-control { 
  padding: 4px 10px; 
}

body #mse2_mfilter .ui-widget.ui-widget-content {
  border: none;
  background-color: #e6e6e6;
}
body #mse2_mfilter .ui-slider-horizontal {
  height: 3px;
}

  body #mse2_mfilter .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 10px;
  height: 14px;

  cursor: default; 
  background-image: url('../img/ui-slider-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}
body #mse2_mfilter .ui-state-active {
  background-color: transparent;
}
#mse2_filters {
  .btn {
    width: 47%;
    display: inline-block;
    font-size: 14px;
  }

}

.form-control, select {
  display: block!important;
  width: 100%!important;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.custom_slider{
      width: 100%;
}
#recomendet{

  width: 100%;
}
.slick-slide img {
  display: inline-block;
}

.slider_nav_btns{
  float: right;
  .ok_slider{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 222, 227, 235 );
    border-radius: 2px; 
    background-image:  linear-gradient( 90deg, rgb(248,249,252) 0%);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  .ok_slider:after{
    content: "";
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-image: url('../img/arrow_slider_recomend.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
}
.recomendet_title{
 @include fl_bt_c(); 
 width: 100%;
 .ok_title{
  width: auto;
}
}
.ok_slider_next{
  transform: scale(-1);
}
.ok_slider{
  cursor: pointer;
}
#recomendet{
  .slick-next, .slick-prev{
    display: none;
  }
}

/* #recomendet{
 .product-item{

   border-bottom: 1px solid #f3f3f3;
 } 
 .product-item:first-of-type{ 
   border-bottom: 1px solid #f3f3f3;
 } 
} */


.Rectangle_10_copy {

  position: absolute;
  left: 941px;
  top: 1919px;
  width: 26px;
  height: 26px;
  z-index: 136;
}
.pagination{
  text-align: center;
  padding: 20px 0;
  .pagination{
    margin:  auto; 
    li{
      margin-right: 10px;
    }
    li a{ 
      border-style: solid;
      border-width: 1px;
      border-color: rgb( 222, 227, 235 );
      border-radius: 3px; 
      background-image:  linear-gradient( 90deg, rgb(248,249,252) 0%, rgb(255,255,255) 100%);

      font-size: 18px; 
      color: rgb( 194, 194, 194 ); 
      display: inline-block;
      width: 27px;  
    }

    li a:hover{ 
     color: rgb( 60, 35, 107 ); 
   }

   li.current a{
    color: #fff;
    background-image: none;
    background-color: rgb( 116, 68, 206 );
   }

  li:first-of-type, li:first-of-type a, li:last-of-type, li:last-of-type a{ 
  font-size: 16px; 
  color: rgb( 172, 172, 172 ); 
  background-image: none;
  border: none;
  line-height: 27px;
  }
 }

 
}
.dropdown-submenu > .dropdown-menu {
    display: none;
    top: 5px;
    left: 102%;
    margin-top: -6px;
    margin-left: -1px;
    border-radius: 0;
}

.tab-content{
  width: 100%;
}

.product__compare{
  position: relative;
}

.product__compare:before{
  content: url("../img/to_compair.png");
  display: block;
  position: absolute;
  left: 30px;
  }

.fancybox-content {
    max-width: 1029px;
    width: 100%;

  .product__pre-buy{
    width: calc(100% - 510px);
  }
}



#product .product__general-content .product__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 430px;
    width: 470px;
    border: 1px solid #e7eaee;
}
.col-second{
  text-align: center;
  width: 200px;
  .product__button-buy{
    width: 100%;
        line-height: 45px;
            margin-bottom: 4px;
  }
  .product__button-buy_order{
        width: 100%;
    padding: 10px 0;
    display: block;
    border-radius: 4px;
        line-height: 24px;
}
.ok_compair_btn{  
        color: #89878d;
    font-size: 15px;
    font-weight: normal;
    height: auto;
    border-radius: 3px;
    background-color: #f4eefd;
    padding: 10px 0;
    width: 100%;
    border: none;
    margin-top: 20px;
}
.ok_compair_btn:before {
    content: "";
    display: inline-block;
    margin-right: 18px;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    background: url(../img/to_compair.png) no-repeat;
}
  .product__price span {
   font-size: 24px; 
  color: rgb( 30, 30, 30 ); 
  line-height: 0.833;
}
  .product__price_new {
    color: rgb( 30, 30, 30 ); 
}
} 
.col-main{
  width: calc(100% - 200px);
  h2{
    font-size: 20px;
  }
  h4{
    font-size: 16px;
  }

}
.product__pre-buy.fast-buy{

}

button{
  cursor: pointer;
}


//================================================
.sales_slider_ul{
  position: relative;
  .slider_nav_btns{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

} 
.custom_slider{
  overflow: hidden;
  }
  .custom_slider:hover{
  overflow: visible;
  }
.custom_slider{
  .product-item, .primery_list{
      border: none;
  }
   
  .slick-slider .slick-list{
        height: 620px;
        margin-bottom: -220px;
        z-index: 1111111111;
  }
.slick-slider .slick-list {
    max-width: 1200px !important;
}
}
.product__rating-edit{
        display: flex;
        align-items: center;
        width: 100%;
        margin: 10px 0 30px 0;
        p{
          margin-right: 35px;
        }
        label{
          margin: 0;
        }
      }

      .product__counter{
      display: flex;
      justify-content: space-between;
      align-content: center;
      width: 120px;

      input{
        width: 35px;
        height: 35px;
        text-align: right;
        background: rgba(0,0,0,0);
        border: 1px solid #cfcfcf;
        border-radius: 5px;
        color: #303030;
        margin: 0 5px;
      }


    .minus, .plus {
  border-style: solid;
  border-width: 1px;
  border-color: rgb( 222, 227, 235 );
  border-radius: 3px; 
  background-image:   linear-gradient( 90deg, rgb(248,249,252) 0%, rgb(255,255,255) 100%);
  display: inline-block;
  width: 35px;
  line-height: 32px;
  height: 35px;
  text-align: center;
   font-size: 24px;
      color: rgb( 147, 147, 147 );
}
.minus:hover, .plus:hover {
    text-decoration: none;
    color: rgb( 147, 147, 147 );
  } 
    }



/*     
.fotorama__stage{
  //height: 100%!important;
}
#msGallery .fotorama {
  height: 100%;
}
#msGallery .fotorama__stage,#msGallery  .fotorama__wrap {
  //  height: 100%!important;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  right: 0;
  max-height: 100%;
  text-align: center; 
}
#msGallery .fotorama__stage__frame  img{
  max-height: 100%!important;
} */

 

 .tab-ok_content{
   display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
 }


.tab-ok_content[ok-tabs="#main"]{
  #slider_tab, #otzivi, #product__reviews  {
  display: flex;
} 
}

.tab-ok_content[ok-tabs="#characteristics"]{
  #slider_tab, #characteristics {
  display: flex;
} 
#slider_tab{
  order: 1;
}
#characteristics{
  order: 0;
}
}
.tab-ok_content[ok-tabs="#otzivi"]{
  #slider_tab,   #otzivi, #product__reviews {
  display: flex;
}  
#slider_tab{
  order: 3;
}
#otzivi{
  order: 1;
}

 #product__reviews{
  order: 2;
 }
}
.tab-ok_content[ok-tabs="#accesoris"]{
  #slider_tab, #accesoris_product  {
  display: flex;
}

#slider_tab{
  order: 3;
}
#accesoris_product{
  order: 1;
}
  }
 

.tab-ok_content[ok-tabs="#media"]{
 #slider_tab, #media  {
  display: flex;
}

#slider_tab{
  order: 3;
}
#media{
  order: 1;
}
}

.product__content_secondary #media {
  margin-top: 50px;
    img{
      max-width: 100%;
    }
} 
.product_articul, .product_title{
  margin-left: -15px;
  }
.product_articul{
  margin: 20px 0 30px 0;
   font-size: 14px; 
  color: rgb( 48, 48, 48 );
}
.product_title{
font-size: 33px;  
  font-weight: bold;
}

 
